.Header {
    width: 100%;
    padding: 20px;
    background-color: #ca2525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    margin-top: -20px;
    z-index: 1; */
}

.div {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}